<div>
    <ul>
     <%if(folders){ %>
        <%folders.map((folder) => { %>
        <li>
            <a href="folder/<%= folder.id %>">
                <div><%=folder.folder_name %></div>
                <div><%= folder.last_modified %></div>
            </a>
        </li>
        <%})%>
       <%} %>

     ideally loose files would be pulled somewhere here.
    </ul>
</div>