<div>
    <ul>
     <%if(folder){ %>
        <%folder.files.map((file) => { %>
        <li>
            <a href="/folder/<%= file.id%>">
                <div><%=file.file_name%></div>
                <div><%= file.file_extension%></div>
                <div><%= file.file_size %></div>
            </a>
        </li>
        <%})%>
       <%} %>
    </ul>
</div>