<div class="footerCont">
    <div class="linksCont">
      Charles Villalpando--
      <span> Portfolio</span>
      (Coming soon)--
      <span >
        <a href="https://github.com/charlesvill?tab=repositories">
          <img class="ghLogo" src="/github-mark.png" />
        </a>
      </span>
    </div>
  </div>