<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        hello from the index. if you are here you should be signed in
        <%- include('./partials/allFiles') %>
        there should be folders put above here
    </main>
    <footer>

    </footer>

</body>
</html>