<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Log-In</title>
</head>
<body>
    <header>
    </header>
    <main>
        <form action="/log-in" method="POST" class="login form">
            <div class="wrapper">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            <div class="wrapper">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Log in</button>
        </form>
        <div>
            <h6>Don't have an account? <a href="/sign-up">click here!</a></h6>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>